/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.paginate-center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-item: center;
}
